streamlit
langchain-community
langchain-text-splitters
langchain-chroma
langchain-groq
langchain-core
langchain
chromadb
sentence-transformers
pypdf
python-dotenv
rank_bm25
plotly
pandas
protobuf==3.20.1
pysqlite3-binary
